.chat
{
    font-weight: bold;

    display: flex;
    justify-content: center;

    margin: 4px;
    padding: 5px 15px;

    border: 1px solid lime;
    background: #333;

    clip-path: polygon(15px 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 15px 100%, 0 50%);
}

.br
{
    height: 10px;
    margin: 15px 0;

    background: #5f5;
}
