.chat, .checked {
    text-decoration: none;
    padding: 10px 25px;
    margin: 3px;
    display: flex;
    justify-content: space-between;

    background: #111;
    color: #aaffaa;
    /*border-top-left-radius: 100px 37px;*/
    /*border-top-right-radius: 100px 37px;*/
    /*border-bottom-right-radius: 100px 37px;*/
    /*border-bottom-left-radius: 100px 37px;*/
    clip-path: polygon(25px 0, calc(100% - 25px) 0, 100% 50%, calc(100% - 25px) 100%, 25px 100%, 0 50%);
}

.checked {
    background: #333;
    color: #f95;
}
