.addComment
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100px;
    margin-top: 10px;
    padding: 10px;

    background: #111;
}

.textarea
{
    width: 70%;
    height: 90px;
    padding: 5px;

    resize: unset;

    color: #afa;
    border: 1px solid transparent;
    background: #333;
}

.textarea:focus
{
    border: 1px solid #f95;
}

.button
{
    font-weight: bold;

    padding: 5px 15px;

    background: #0f0;

    clip-path: polygon(15px 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 15px 100%, 0 50%);
}

.button:active
{
    background: #333;
}
