.message {
    margin: 3px;
    padding: 10px 25px;

    background: #111;
}

.messageNew {
    display: flex;
    align-items: flex-end;
}

.userPhoto {
    width: 32px;
    height: 32px;

    border-radius: 50%;
}

.mBody {
    font-weight: bold;
    min-width: 150px;
    max-width: 240px;

    margin: 3px;
    padding: 7px;

    color: #f95;
    border-radius: 5px 5px 5px 0;
    background: #111;
}

.p {
    font-weight: normal;
    word-break: break-word;

    color: #afa;
}

.time {
    font-weight: normal;
    position: relative;
    text-align: right;

    color: #555;
}

.triangle {
    position: relative;
    bottom: 3px;
    left: 3px;

    border: 10px solid transparent;
    border-right: 0 solid #111;
    border-bottom: 10px solid #111;
}
