.profileInfo {
    display: flex;
    flex-wrap: wrap;
}

.avatar {
    border: 2px solid lime;
    max-width: 300px;
}

.info {
    margin: 20px;
    padding: 10px;
    background: #111;
    max-width: 300px;
    min-width: calc(100% - 370px);
}
