.profileInfo
{
    display: flex;
    flex-wrap: wrap;
}

.avatar
{
    max-width: 300px;

    border: 2px solid lime;
}

.info
{
    min-width: calc(100% - 370px);
    max-width: 300px;
    margin: 20px;
    padding: 10px;

    background: #111;
}
