.link
{
    font-weight: bold;

    margin: 2px;
    padding: 5px 15px;

    text-decoration: none;

    /*border-top-left-radius: 100px 37px;*/
    /*border-top-right-radius: 100px 37px;*/
    /*border-bottom-right-radius: 100px 37px;*/
    /*border-bottom-left-radius: 100px 37px;*/
    clip-path: polygon(15px 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 15px 100%, 0 50%);
}

.active
{
    /*style for active NavLink*/
}
