.link {
    text-decoration: none;
    margin: 2px;
    padding: 2px 17px;
    font-weight: bold;
    /*border-top-left-radius: 100px 37px;*/
    /*border-top-right-radius: 100px 37px;*/
    /*border-bottom-right-radius: 100px 37px;*/
    /*border-bottom-left-radius: 100px 37px;*/
    clip-path: polygon(25px 0, calc(100% - 25px) 0, 100% 50%, calc(100% - 25px) 100%, 25px 100%, 0 50%);
}

.active {
    /*style for active NavLink*/
}
