.header {
    position: fixed;
    z-index: 101;
    height: 40px;
    top: 0;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #111;
}
